.gallery {
    background-color: var( --color-body-gallery);
}
.gallery-images{
    padding: 0 8.5vw;
}

@media (min-width:600px) and (max-width: 800px) {
    .gallery-images{
        padding: 0 2%;
    }
  }
  @media (min-width:800px) and (max-width: 1200px) {
    .gallery-images{
        padding: 0 5%;
    }
  }
  @media (min-width:1201px) and (max-width: 1400px) {
    .gallery-images{
        padding: 0 8%;
    }
  }
  @media (min-width:1401px) and (max-width: 1600px) {
    .gallery-images{
        padding: 0 9%;
    }
  }
  @media (min-width:1601px) and (max-width: 1800px) {
    .gallery-images{
        padding: 0 10%;
    }
  }