.pet-facts-cat {
    display: flex;
    padding: 0 11.5% 0;
    justify-content: space-between;

}
@media (min-width:600px) and (max-width: 800px) {
    .pet-facts-cat {
        padding: 0 2%;
    }
  }
  @media (min-width:800px) and (max-width: 1200px) {
    .pet-facts-cat {
        padding: 0 5%;
    }
  }
// @media only screen and (max-width: 1600px) {
//     .pet-facts-cat {
//         display: flex;
//         padding: 0 5%;
//         justify-content: space-between;

//     }

//   }