.gallery-header {
    display: flex;
    justify-content: center;
    height: 23.5vh;
}
.gallery-header-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 52px;
line-height: 61px;
letter-spacing: 0.231111px;
}

@media (min-width:600px) and (max-width: 800px) {
    .gallery-header {

        height: 14vh;
    }
    .gallery-header-title{

        font-size: 24px;
        line-height: 30px;

    }
  }
  @media (min-width:800px) and (max-width: 1000px) {
    .gallery-header {

        height: 16vh;
    }
    .gallery-header-title{

        font-size: 28px;
        line-height: 30px;

    }
  }
  @media (min-width:1000px) and (max-width: 1200px) {
    .gallery-header {

        height: 18vh;
    }
    .gallery-header-title{

        font-size: 32px;
        line-height: 30px;

    }
  }
  @media (min-width:1201px) and (max-width: 1400px) {
    .gallery-header {

        height: 20vh;
    }
    .gallery-header-title{

        font-size: 36px;
        line-height: 30px;

    }
  }
  @media (min-width:1401px) and (max-width: 1600px) {
    .gallery-header {

        height: 22vh;
    }
    .gallery-header-title{

        font-size: 40px;
        line-height: 30px;

    }
  }