.dog-description {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // max-width: 635px;
    max-width: 57%;

    line-height: 30px;
    letter-spacing: 0.0888889px;
}

.dog-description p:first-of-type {
    margin-bottom: 5vh;
    margin-top: 30px;
}


@media (min-width:600px) and (max-width: 800px) {
    .dog-description {


        line-height: 15px;
        max-width: 57%;

    }
    .dog-description h2{


       margin-left: 0;
    }
    .dog-description p:first-of-type {
        margin-bottom: 2%;
        margin-top: 2%;
    }
    .dog-description p {

        margin-left: 0;
    }
  }
  @media (min-width:800px) and (max-width: 1200px) {
    .pet-facts-dog {
        padding: 0 5%;
    }
  }