.footer {

    background-color: var( --color-footer);
    height: 51vh;

    padding-top: 8vh;

}
.footer-information {
    display: flex;
    justify-content: center;
}
.footer-content-container {
    width: 18.5vw;
    height: 27.5vh;
}
.footer-content-container p,
.footer-copywright p{
    text-align: center;
    letter-spacing: 0.08px;
    color: var( --color-body-gallery);
    font-size: 16px;


}
.footer-content-container p:first-child{

    font-weight: 700;


}
.footer-copywright {
    display: flex;
    justify-content: center;
}
.copywright {
    max-width: 48vw;
}
.copywright p{
    margin-top: 0;
    margin-bottom: 0;
}