.cat-description {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 57%;
    line-height: 30px;
    letter-spacing: 0.0888889px;
}

@media (min-width:600px) and (max-width: 800px) {
    .cat-description {
        line-height: 15px;
    }
  }
@media (min-width:800px) and (max-width: 1000px) {
.cat-description {
line-height: 16.5px;

}
}
@media (min-width:1000px) and (max-width: 1200px) {
.cat-description {
    line-height: 24px;

}
}