.gallery-header {
    display: flex;
    justify-content: center;
    height: 23.5vh;
}
.gallery-header-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 52px;
line-height: 61px;
letter-spacing: 0.231111px;
}